<audio id="weddingSong" loop>
  <source
    src="assets/audio/batas_senja.mp3"
    type="audio/mpeg"
  />
</audio>
<button (click)="toggleMusic()" id="musicToggleBtn" [class.playing]="isPlaying">
  <img src="assets/img/playpause.png" width="24" height="24" />
</button>

<header class="wedding-header" style="color: var(--dark-green)">
  <span style="font-size: 1.2em">Majlis Perkahwinan</span> <br><br>
  <img src="assets/img/ha_yellow2.png" />
  <br>
  <span style="font-family: 'The Seasons'; color: var(--pink-red); font-size: 1.8em">HUDA 
    <span style="font-family: 'Alice'; color: var(--pink-red);">&
    </span> ASHRAF</span>  
    <p style="font-size: 1.5em; padding-top: 10px; font-family: 'The Seasons';">
       <span style="font-family: 'Open Sans';">4</span> APRIL 2026
    </p>
</header>
<div id="dateSection">
  <div class="right">
    <span class="wgm">"And We created you in pairs"</span
    ><br />
    <p style="font-size: 10px">Quran (78:8)</p>
    <!--<span class="countdown">{{ countdown }}</span>-->
  </div>
</div>
<div id="invitationSection">
   <!--<img src="assets/img/bouquet_left.png" style="float: left; padding-left: 10px;"/>-->
 <img src="assets/img/bouquet3.png" style="float: left; transform: scaleX(-1) scaleY(-1); padding-right: 10px; max-width: 200px"/>
  <div style="padding-top: 6em">
  <h1 style="margin-bottom: 0px">
    Zainal Md Salleh <br>
    <span style="font-family: 'Alice';">&</span> <br>
    Haliza Ab Karim
  </h1>
  <p style="font-size: 0.8em; line-height: 18px; margin-top: 0px">
    <br>
    Kami dengan penuh kesyukuran ingin menjemput <br>
    Tan Sri / Puan Sri / Dato Sri / Datuk Sri / Datin Sri / <br>
    Datuk / Dato’ / Datin /Encik / Puan / Cik <br>
    ke Majlis Perkahwinan puteri kami
  </p>
  <img src="assets/img/heart.png" style="max-width: 300px; padding-top: 10px"/>
  <h1 style="color: var(--pink-red); margin-bottom: 1.4em; margin-top: -10px;">
    <br>
    Nurul Huda Hanisah binti Zainal <br>
    <span style="font-family: 'Alice';">&</span> <br>
    Muhammad Ashraf bin Mohd Zahidi
  </h1>
  </div>  
  <img src="assets/img/bouquet3.png" style="float: right; padding-right: 5px; max-width: 200px"/>  
</div>
<div id="dressCodeSection">
  <h1>Butiran Majlis</h1>
  <p>
    4 APRIL 2026 <br>
    SABTU <br><br>
    GLASSHOUSE AT SEPUTEH <br>
    KUALA LUMPUR
  </p>
</div>
<img src="assets/img/bouquet2.png" style="max-width: 250px; padding-top: 0px;" />
<div id="dressCodeSection" style="padding-top: 3em; padding-bottom: 4.3em;">
  <h1>Kod Pakaian</h1>
  <p>
    Baju Tradisional / Formal
  </p>
  <img src="assets/img/baju.png" style="padding-top: 30px;" />
</div>
<div id="timelineSection">
  <h1>Aturcara Majlis</h1>
  <!--img src="assets/img/timeline1.png" style="max-width: 250px; padding: 5px 0px 30px; position: relative"/>-->
  <div id="tlimage">
    <p style="padding: 92px 0px 0px 12px">11:00 am <br> Ketibaan Tetamu</p>
    <p style="padding: 47px 75px 0px 0px">12:30 pm <br> Perarakan Pengantin</p>
    <p style="padding: 48px 0px 0px 15px">2:00 pm <br> Sesi Potong Kek</p>
    <p style="padding: 41px 0px 0px 20px">3:00 pm <br> Sesi Bergambar</p>
    <p style="padding: 58px 25px 0px 0px">4:00 pm <br> Majlis Bersurai</p>
  </div>
  <!--<img src="assets/img/kerawang.png" style="max-width: 250px; padding: 0px 0px 20px;"/>
  <table style="margin: 0 auto; text-align:left; line-height:30px; padding-left: 19px;">
    <tr>
      <td style="text-align: right; padding-right: 15px;">11:00 am</td>
      <td>Ketibaan Tetamu</td>
    </tr>
    <tr>
      <td style="text-align: right; padding-right: 15px;">12:30 pm</td>
      <td>Perarakan Pengantin</td>
    </tr>
    <tr>
      <td style="text-align: right; padding-right: 15px;">2:00 pm</td>
      <td>Sesi Potong Kek</td>
    </tr>
    <tr>
      <td style="text-align: right; padding-right: 15px;">3:00 pm</td>
      <td>Sesi Bergambar</td>
    </tr>
    <tr>
      <td style="text-align: right; padding-right: 15px;">4:00 pm</td>
      <td>Majlis Bersurai</td>
    </tr>
  </table>
  <img src="assets/img/kerawang2.png" style="max-width: 250px; padding: 35px 0px 20px;"/>-->
</div>
<div id="locationSection">
  <h1>Lokasi</h1>
  <img src="assets/img/bouquet1.png" style="max-width: 250px; padding-top: 30px; padding-left: 16px;"/>
  <br /><br />
  <p style="line-height: 18px;">
    GLASSHOUSE AT SEPUTEH, <br />
    17, Lorong Syed Putra Kiri, <br />
    Bukit Seputeh, 50460 Kuala Lumpur, <br />
    Wilayah Persekutuan Kuala Lumpur, Malaysia
  </p>
  <br />
  <button style="width: 150px; margin-right: 5px;">
    <a href="https://maps.app.goo.gl/kPgTBsJuBCGNnN6K7">Google Maps</a>
  </button>
  <button style="width: 150px;">
    <a href="https://www.waze.com/en/live-map/directions/glasshouse-at-seputeh-lorong-syed-putra-kiri-17-kuala-lumpur?place=w.66650143.666435896.8171939">Waze</a>
  </button>
</div>
<div id="rsvpSection">
  <h1>Maklumbalas <span style="font-family: 'Alice';">(</span>RSVP<span style="font-family: 'Alice';">)</span></h1>
  <p>Sila sahkan kehadiran sebelum 20.3.2026</p>
  <img src="assets/img/bouquet3.png" style="float: left; transform: scaleX(-1) scaleY(-1) rotate(-6deg); max-width: 180px; margin-left: -180px; margin-top: -18px; position: absolute"/>
  <div class="rsvpForm">
    <form (ngSubmit)="submitRSVP()" #rsvpForm="ngForm">
      <!-- Name Field -->
      <div style="margin-bottom: 15px">
        <label for="nameInput">Nama</label><br />
        <input
          id="nameInput"
          type="text"
          name="Name"
          [(ngModel)]="rsvp.name"
          placeholder="Nama Anda"
          required
        />
      </div>

      <!-- Attendance Dropdown -->
      <div style="margin-bottom: 15px">
        <label for="attendanceInput">Kehadiran</label><br />
        <select
          id="attendanceInput"
          name="Attendance"
          [(ngModel)]="rsvp.attendance"
          required
        >
          <option value="" disabled selected>Sila Pilih Kehadiran</option>
          <option value="Yes">Hadir</option>
          <option value="No">Tidak</option>
          <option value="TBC">TBC</option>
        </select>
      </div>
     
      <!-- No. of Pax Field -->
      <div style="margin-bottom: 15px">
        <label for="paxInput">Bil. Tetamu</label><br />
        <input
          id="paxInput"
          type="number"
          name="Pax"
          [(ngModel)]="rsvp.pax"
          placeholder="Contoh: 2"
          min="1"
          style="
            width: 200px;
            padding: 10px;
            border-radius: 8px;
            border: none;
          "
        />
      </div>      

      <!-- Message Field -->
      <div style="margin-bottom: 25px">
        <label for="msgInput">Ucapan</label><br />
        <textarea
          id="msgInput"
          name="Message"
          [(ngModel)]="rsvp.message"
          placeholder="Tulis ucapan anda..."
          rows="3"
        ></textarea>
      </div>    

      <!-- Submit Button -->
      <button
        class="submitButton"
        type="button"
        (click)="onSubmit(rsvpForm)"
        [disabled]="isSubmitting"
      >
        <ng-container *ngIf="!isSubmitting; else loading">
          Hantar
        </ng-container>
        <ng-template #loading>
          <span class="spinner"></span> Menghantar...
        </ng-template>
      </button>

       <!-- Success Message -->
    <div *ngIf="showSuccess" class="successText">
      Terima kasih, {{ lastSubmittedName }}! ❤️<br>
      Kami telah menerima RSVP anda.
    </div>

    <!-- Error Message -->
    <div *ngIf="showError" class="errorText">
      Sila isi nama and kehadiran 😊
    </div>
    </form>

    
  </div>
  <img src="assets/img/bouquet3.png" style="float: right; margin-top: -80px; margin-right: -20px; max-width: 180px"/> 
</div>
<div id="giftSection">    
  <h1>Kehadiran serta doa restu anda adalah hadiah yang paling berharga buat kami.</h1>
  <br />
  <img src="assets/img/red_leaves.png" style="width: 170px; padding: 0px 0px 20px;">  
  <span class="giftText">
    Sekiranya ingin memberikan tanda ingatan, sumbangan dalam bentuk wang tunai amat kami hargai dengan penuh kesyukuran.
  </span>
  <button class="bankAcc" (click)="copyBankAccount()">
    7614843726  <!--<img src="assets/img/copy.png"/>-->
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e1e3cd"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>
  </button>
  <p>Nurul Huda Hanisah binti Zainal (CIMB)</p>
  <div class="copySuccess" *ngIf="showCopySuccess">
    Nombor akaun telah disalin!
  </div>
  
</div>
<div id="contactSection" style="padding: 2.5em 0em 4em;">
  <h1>Hubungi</h1>
  <img src="assets/img/kerawang.png" style="max-width: 250px; padding: 0px 0px 25px;"/>
  <div style="margin: 0 auto; margin-bottom: 25px;">
        <span style="font-size: 1.4em; line-height: 1.3em">Haliza Ab Karim</span>
        <br />
        <span style="color: var(--dark-green); font-size: 1.1em;">Ibu Pengantin</span> <br />
        <a href="https://wa.me/60162339569"><button style="width: 150px; margin-top: 8px;">
          <!--<img src="assets/img/whatsapp.png" width="30"/>-->
          0162339569
        </button></a>
  </div>
  <div style="margin: 0 auto; margin-bottom: 25px;">
        <span style="font-size: 1.4em; line-height: 1.3em">Zainal Md Salleh</span><br />
        <span style="color: var(--dark-green); font-size: 1.1em;">Ayah Pengantin </span><br />        
        <a href="https://wa.me/60163758559"><button style="width: 150px; margin-top: 8px;">
          <!--<img src="assets/img/whatsapp.png" width="30"/>-->
          0163758559
        </button></a>
  </div>
  <div style="margin: 0 auto; margin-bottom: 10px;">
        <span style="font-size: 1.4em; line-height: 1.3em">Dalila Diyana Zainal</span><br />
        <span style="color: var(--dark-green); font-size: 1.1em;">Kakak Pengantin</span><br />
        <!--<a href="tel:+60193303310"><button style="width: 50px; margin-left: 10px; border: 1px solid var(--cream);"><img src="assets/img/call.png" width="30" /></button></a>-->
        <a href="https://wa.me/60173269060"><button style="width: 150px; margin-top: 8px;">
          0173269060
        </button></a>
  </div>
  <img src="assets/img/kerawang2.png" style="max-width: 250px; padding: 35px 0px 0px;"/>
</div>
<div style="font-size: 12px; padding-bottom: 10px">website by amiradee 🍊</div>
